Repository MStokluska/cro-midstream: changes, and which Tekton pipelines are due for each by the changed paths.
All: cloud-resource-operator-bundle-on-pull-request, cloud-resource-operator-on-push

.tekton/cloud-resource-operator-bundle-pull-request.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/MStokluska/cro-midstream?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/pull_request_number: '{{pull_request_number}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "pull_request" && target_branch == "main" &&
      (".tekton/cloud-resource-operator-bundle-pull-request.yaml".pathChanged() ||
      ".tekton/cloud-resource-operator-bundle-push.yaml".pathChanged() ||
      "Containerfile.cloud-resource-operator-bundle".pathChanged() ||
      "cloud-resource-operator".pathChanged() ||
      "bundle-hack/***".pathChanged())
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: cro-midstream
    appstudio.openshift.io/component: cloud-resource-operator-bundle
    pipelines.appstudio.openshift.io/type: build
  name: cloud-resource-operator-bundle-on-pull-request
  namespace: mstoklus-rhmi-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/mstoklus-rhmi-tenant/cloud-resource-operator-bundle:{{revision}}
  - name: dockerfile
    value: Containerfile.cloud-resource-operator-bundle
  - name: hermetic
    value: "true"
  - name: prefetch-input
    value: '{"type": "rpm", "path": "."}'
  - name: prefetch-dev-package-managers-enabled
    value: "true"
  pipelineRef:
    name: single-arch-build-pipeline
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'

.tekton/cloud-resource-operator-push.yaml:

apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://github.com/MStokluska/cro-midstream?rev={{revision}}
    build.appstudio.redhat.com/commit_sha: '{{revision}}'
    build.appstudio.redhat.com/target_branch: '{{target_branch}}'
    build.appstudio.openshift.io/build-nudge-files: "bundle-hack/update_bundle.sh"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-cel-expression: event == "push" && target_branch == "main" &&
      (".tekton/cloud-resource-operator-pull-request.yaml".pathChanged() ||
      ".tekton/cloud-resource-operator-push.yaml".pathChanged() ||
      "Containerfile.cloud-resource-operator".pathChanged() ||
      "cloud-resource-operator".pathChanged())
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: cro-midstream
    appstudio.openshift.io/component: cloud-resource-operator
    pipelines.appstudio.openshift.io/type: build
  name: cloud-resource-operator-on-push
  namespace: mstoklus-rhmi-tenant
spec:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/mstoklus-rhmi-tenant/cloud-resource-operator:{{revision}}
  - name: dockerfile
    value: /Containerfile.cloud-resource-operator
  - name: path-context
    value: .
  - name: build-platforms
    value:
    - localhost
    - linux/arm64
  - name: prefetch-input
    value: '{"type": "gomod", "path": "cloud-resource-operator/"}'
  - name: hermetic
    value: "true"
  pipelineRef:
    name: build-pipeline
  workspaces:
  - name: git-auth
    secret:
      secretName: '{{ git_auth_secret }}'

exclude dockerfiles and python files from mintmaker
  renovate.json
Due: none

add multi and single arch pipelines to triggers
  .tekton/cloud-resource-operator-bundle-pull-request.yaml
  .tekton/cloud-resource-operator-bundle-push.yaml
  .tekton/cloud-resource-operator-pull-request.yaml
  .tekton/cloud-resource-operator-push.yaml
Due: cloud-resource-operator-bundle-on-pull-request, cloud-resource-operator-on-push

update containerfiles
  Containerfile.cloud-resource-operator
  Containerfile.cloud-resource-operator-bundle
Due: cloud-resource-operator-bundle-on-pull-request, cloud-resource-operator-on-push

update bundle containerfile
  Containerfile.cloud-resource-operator-bundle
Due: cloud-resource-operator-bundle-on-pull-request

fixing hermetic bundle build
  Containerfile.cloud-resource-operator-bundle
Due: cloud-resource-operator-bundle-on-pull-request

update dockerfile
  Containerfile.cloud-resource-operator-bundle
Due: cloud-resource-operator-bundle-on-pull-request

revert preflights fix changes entirely
  Containerfile.cloud-resource-operator-bundle
Due: cloud-resource-operator-bundle-on-pull-request

update ubi image back to previous version
  Containerfile.cloud-resource-operator-bundle
Due: cloud-resource-operator-bundle-on-pull-request

revert back to older ubi image
  Containerfile.cloud-resource-operator-bundle
Due: cloud-resource-operator-bundle-on-pull-request

add license back in...
  Containerfile.cloud-resource-operator-bundle
Due: cloud-resource-operator-bundle-on-pull-request

try additional tags
  .tekton/cloud-resource-operator-bundle-pull-request.yaml
  .tekton/cloud-resource-operator-pull-request.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: cloud-resource-operator-bundle-on-pull-request, cloud-resource-operator-on-push

Update cloud-resource-operator to 90e2646
  bundle-hack/update_bundle.sh
Due: cloud-resource-operator-bundle-on-pull-request

update rpms lock and image to latest
  Containerfile.cloud-resource-operator-bundle
  rpms.lock.yaml
Due: cloud-resource-operator-bundle-on-pull-request

edit the containerfile name for bundles
  .tekton/cloud-resource-operator-bundle-pull-request.yaml
  .tekton/cloud-resource-operator-bundle-push.yaml
  Containerfile
  renovate.json
Due: cloud-resource-operator-bundle-on-pull-request

Revert "edit the containerfile name for bundles"
  .tekton/cloud-resource-operator-bundle-pull-request.yaml
  .tekton/cloud-resource-operator-bundle-push.yaml
  Containerfile.cloud-resource-operator-bundle
  renovate.json
Due: cloud-resource-operator-bundle-on-pull-request

allow mintmaker to update the rpm
  .tekton/cloud-resource-operator-bundle-pull-request.yaml
  .tekton/cloud-resource-operator-bundle-push.yaml
  rpms.in.yaml
Due: cloud-resource-operator-bundle-on-pull-request

set image to latest
  Containerfile.cloud-resource-operator-bundle
Due: cloud-resource-operator-bundle-on-pull-request

Update cloud-resource-operator to 2c32496
  bundle-hack/update_bundle.sh
Due: cloud-resource-operator-bundle-on-pull-request

Update cloud-resource-operator to 2a20f9a
  bundle-hack/update_bundle.sh
Due: cloud-resource-operator-bundle-on-pull-request

Update cloud-resource-operator to 1486e60
  bundle-hack/update_bundle.sh
Due: cloud-resource-operator-bundle-on-pull-request

Red Hat Konflux update cro-midstream Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/cro-midstream-pull-request.yaml
  .tekton/cro-midstream-push.yaml
Due: none

Konflux build pipeline service account migration for cloud-resource-operator Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/cloud-resource-operator-pull-request.yaml
  .tekton/cloud-resource-operator-push.yaml
Due: cloud-resource-operator-on-push

Konflux build pipeline service account migration for cloud-resource-operator-bundle Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/cloud-resource-operator-bundle-pull-request.yaml
  .tekton/cloud-resource-operator-bundle-push.yaml
Due: cloud-resource-operator-bundle-on-pull-request

Konflux build pipeline service account migration for cro-4-15a Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/cro-4-15a-pull-request.yaml
  .tekton/cro-4-15a-push.yaml
Due: none

Red Hat Konflux purge cloud-resource-operator
  .tekton/cloud-resource-operator-pull-request.yaml
  .tekton/cloud-resource-operator-push.yaml
Due: cloud-resource-operator-on-push

Red Hat Konflux purge cloud-resource-operator-bundle
  .tekton/cloud-resource-operator-bundle-pull-request.yaml
  .tekton/cloud-resource-operator-bundle-push.yaml
Due: cloud-resource-operator-bundle-on-pull-request

Red Hat Konflux purge cro-4-15a
  .tekton/cro-4-15a-pull-request.yaml
  .tekton/cro-4-15a-push.yaml
Due: none
